@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}


.pro {
  margin-top: 80px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #01384D;
  }

  &__list {
    display: flex;
    @include list-unstyled;
    margin-top: 64px;
    margin-bottom: 0;
  }

  &__btn {
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
    height: 45px;
    white-space: nowrap;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #01384D;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid transparent;

    &--hover,
    &:hover {
      border-radius: 5px;
      background-color: #01374d24;
      color: #5D808D;
      transition: all .5s ease-in-out;
    }

    &--active {
      border-bottom: 4px solid #01384D;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #01384D;

      &:hover {
        border: 4px solid transparent;
        font-weight: normal;
        transition: color .5s ease-in-out;
      }
    }

  }

  &__items~&__items {
    margin-left: 6px;
  }

  &__main {
    margin-top: 54px;
    margin-bottom: 20px;
  }

  &__bazar{
    display: none;
    @include list-unstyled();
  }

  &__hr{
    opacity: 0.3;
    width: 100vw;
    height: 0.5px;
    background:  #01384D;
    margin-top: -1px;
  }

  &__products{
    margin-top: 20px;
  }
}
