.spbutton{
  &__img{
    margin-left: 15px;
  }
  width: 180px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid #01384D;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #01384D;

  &:hover {
    background: #dfdfdf;
    transition: all .5s ease-in-out;
    border: 2px solid #000;
  }
}