@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}


@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

.matras {

  &__container {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
  }

  &__right {
    width: 636px;
    margin-left: 100px;
  }

  &__header {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #01384D;

    &--hidden {
      display: none;
    }
  }

  &__zoomin {
    display: none;
  }

  &__list {
    display: flex;
    @include list-unstyled();
    align-items: center;
    justify-content: space-between;
  }



  &__define {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    opacity: 0.6;
  }

  &__info {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #01384D;
    white-space: nowrap;
    margin-top: 7px;
  }

  &__fullinfo {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: justify;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #01384D;
    opacity: 0.6;
    max-width: 636px;
    width: 100%;
  }


  &__price {
    &--info {
      margin-top: 25px;
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #01384D;
      opacity: 0.6;
    }

    &--pricing {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      color: #01384D;
      margin-top: 7px;
      margin-bottom: 25px;
    }

    &--flex {
      display: flex;
      align-items: baseline;
    }

    &--old {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-decoration-line: line-through;
      color: #FF5D5D;
      opacity: 0.8;
      margin-right: 20px;
    }
  }

  &__badges {
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
    }

    &--new {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 184px;
      height: 36px;
      background: #FF6B6B;
      border-radius: 5px;
      margin-right: 30px;
    }

    &--sale {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 114px;
      height: 36px;
      background: #1FCA25;
      border-radius: 5px;
    }

    &--zoom {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      &:hover {
        filter: contrast(0.6);
      }
    }
  }

  &__img {
    margin-top: 66px;
  }

  @include maxmedia(1200px) {

    &__header {
      font-size: 35px;
    }
  }

  @include maxmedia(1080px) {
    &__right {
      width: 500px;
    }

    &__info {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 26px;
    }

    &__list {
      margin-top: 15px;
    }

    &__define {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #01384D;
      opacity: 0.6;
    }

    &__fullinfo {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: #01384D;
      opacity: 0.6;
      margin-top: 15px;
    }


    &__header {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      color: #01384D;
    }

    &__price {

      &--pricing {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #01384D;
      }


      &--info {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #01384D;
        opacity: 0.6;
      }
    }
  }

  @include maxmedia(1024px) {
    &__right {
      margin-left: 30px;
    }

    &__list {
      width: 270px;
      flex-wrap: wrap;
    }
  }

  @include maxmedia(880px) {
    &__list {
      margin-top: 0;
    }


    &__price {

      &--info {
        margin-top: 10px;
      }

      &--pricing {
        margin-bottom: 10px;
      }
    }

    &__badges {

      &--new,
      &--sale {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      &--zoom {
        width: 50px;
        height: 50px;
      }
    }

    &__header {
      white-space: nowrap;
    }

    &__right {
      width: 350px;
    }
  }


  @include maxmedia(700px) {
    &__container {
      flex-direction: column;
    }

    &__badges {
      &--zoom {
        display: none;
      }
    }

    &__header {
      display: none;

      &--hidden {
        display: block;
        margin-top: 25px;
      }
    }

    &__img {
      margin-top: 40px;
    }

    &__zoomin {
      display: flex;
      background: transparent;
      margin-left: auto;
    }

    &__list {
      width: 274px;
    }


    &__right {
      margin-left: 0;
    }
  }

  @include maxmedia(426px) {
    width: 100vw;

    &__container {
      padding-top: 20px;
      padding-bottom: 35px;
      padding-left: 20px;
      padding-right: 20px;
    }

    
    &__right{
      max-width:425px;
      width: 100%;
    }

  }

}