@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

.about {
  &__list {
    @include list-unstyled();
  }

  &__container {
    margin-top: 140px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      margin-right: 46px;
    }

    &--left2 {
      margin-right: 0;
      width: 568px;
      margin-left: 87px;
    }

  }

  &__items:nth-child(2) {
    margin-top: 80px;
    flex-direction: row-reverse;
  }

  &__items {

    &--head {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 64px;
      color: #01384D;
      width: 599px;
      margin-bottom: 28px;
    }

    &--text {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #01384D;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    &--left {
      width: 609px;
    }

    &--end {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #01384D;
      margin-top: 30px;
    }

    &--video {
      position: relative;
    }

    &--ply {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      background: none;
      cursor: pointer;
    }

    &--image {
      width: 625px;
    }
  }



  &__desclist {
    background: #EABF9F;
    border: 2px solid #01384D;
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 23px;
    width: 609px;
    margin-top: 20px;
    font-weight: 700;


    &--text {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #01384D;
    }

    &--item~&--item {
      margin-top: 14px;
    }
  }


  @include maxmedia(1250px) {
    &__items {

      &--head {
        font-size: 40px;
        line-height: 48px;
        width: 400px;
        margin-bottom: 15px;
      }

      &--text {
        font-size: 16px;
        line-height: 26px;
      }


      &--left {
        width: 500px;
      }
    }

    &__desclist {
      width: 500px;
      padding-right: 20px;
    }
  }

  @include maxmedia(1080px) {

    &__items {
      align-items: flex-start;

      &--head {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 12px;
      }

      &--image {
        width: 500px;
      }

      &--left {
        margin-right: 20px;
      }

      &--left2 {
        margin-right: 0;
        margin-left: 50px;
      }
    }

    &__desclist {
      width: 500px;
      padding-right: 20px;
    }
  }

  @include maxmedia(1050px) {
    &__container {
      margin-top: 60px;
    }

    &__list {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__items {
      flex-direction: column;
      align-items: center;

      &--left {
        margin: 0;
        margin-bottom: 30px;
      }

      &--head {
        width: 550px;
        text-align: center;
      }
    }

    &__items:nth-child(2) {
      flex-direction: column;
      align-items: center;
    }

    &__items {
      width: 800px;
    }
  }

  @include maxmedia(820px) {
    &__items {
      width: 700px;
    }
  }

  @include maxmedia(768px) {
    &__items {

      &--head {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 36px;
        color: #01384D;
        width: auto;
        text-align: left;
        width: 400px;
      }
    }
  }

  @include maxmedia(550px) {
    &__items {

      &--head {
        font-size: 28px;
        width: 320px;
      }

      &--text {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #01384D;
      }

      &--end {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #01384D;
      }
    }

    &__desclist {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: #01384D;

      &--text {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #01384D;
      }
    }

    &__items {
      width: 400px;

      &--left {
        width: 400px;
      }
    }

    &__desclist {
      padding-top: 25px;
      padding-left: 40px;
      padding-right: 22px;
      padding-bottom: 25px;
      width: 400px;
    }
  }

  @include maxmedia(425px) {
    &__items:nth-child(2) {
      margin-top: 30px;
    }

    &__items {
      width: 350px;

      &--left {
        width: 350px;
      }
    }

    &__desclist {
      width: 350px;
    }
  }

  @include maxmedia(359px) {
    &__items {
      width: 100%;

      &--left {
        width: 100%;
      }
    }

    &__desclist {
      width: 100%;
    }
  }
}