@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

.contact {
  background: #EABF9F;
  margin-top: 90px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__header {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #01384D;
  }

  &__desc {

    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #01384D;
    margin-top: 10px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__inputting {
    position: relative;
  }

  &__input {
    width: 420px;
    height: 60px;
    display: flex;
    align-items: center;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 84px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    &::placeholder {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #01384D;
      opacity: 0.4;



    }

    &::-webkit-input-placeholder::before {
      visibility: visible;
    }

    &--before {
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #01384D;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 23px;
      transform: translateY(-50%);
    }
  }

  &__submit {
    width: 240px;
    height: 60px;
    background: #01384D;
    border-radius: 5px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
    color: #FFFFFF;
    cursor: pointer;
  }

  @include maxmedia(1180px) {
    &__input {
      width: 350px;
    }

    &__left {
      margin-right: 10px;
    }
  }

  @include maxmedia(1080px) {
    &__submit {
      width: 150px;
    }
  }

  @include maxmedia(980px) {
    &__input {
      width: 280px;
    }
  }

  @include maxmedia(850px) {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      padding-left: calc(50vw - 300px);
    }

    &__form {
      margin-top: 47px;
    }

    &__container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__input {
      width: 420px;
    }
  }

  @include maxmedia(768px) {

    &__header {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 24px;
      color: #01384D;
    }

    &__desc {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #01384D;
    }

    &__form {
      display: flex;
      width: 100%;
      margin-top: 47px;
    }
  }


  @include maxmedia(600px) {
    &__input {
      width: 350px;
      height: 44px;
    }

    &__submit {
      height: 44px;
    }

  }

  @include maxmedia(530px) {
    &__form {
      flex-direction: column;
      width: 100%;
    }


    &__input {
      width: calc(100vw - 30px);
    }

    &__submit {
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }
  }

  @include maxmedia(425px) {
    &__header {
      font-size: 24px;
    }

    &__desc {
      font-size: 11px;
    }

    &__submit {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      color: #FFFFFF;
    }

    &__input {

      &--before {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #01384D;
      }

      &::placeholder {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #01384D;
        opacity: 0.4;
      }
    }

    &__right{
      display: flex;
      justify-content: center;
      align-items: center;      
    }
  }
}