@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}


.tech {
  margin-top: 138px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #01384D;
  }

  &__list {
    display: flex;
    @include list-unstyled();
  }


  &__list {
    margin-top: 87px;
  }

  &__title {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #01384D;
  }

  &__items~&__items {
    margin-left: 30px;
  }

  &__image {
    margin-top: 25px;
    position: relative;
    width: 407px;
    height: 300px;
  }

  &__ply {
    position: absolute;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }


  &__desc {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #01384D;
    margin-top: 30px;
  }

}