@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}


.tech {
  margin-top: 138px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #01384D;
  }

  &__list {
    display: flex;
    @include list-unstyled();
  }


  &__list {
    margin-top: 87px;
  }

  &__title {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #01384D;
  }

  &__items~&__items {
    margin-left: 30px;
  }

  &__image {
    margin-top: 25px;
    position: relative;
    width: 407px;
    height: 300px;
  }

  &__ply {
    position: absolute;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }


  &__desc {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #01384D;
    margin-top: 30px;
  }

  &__next {
    @include list-unstyled();
    margin-top: 30px;
    display: none;

    &--items {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      background: #FFFFFF;
      border: 1.5px solid #01384D;
    }

    &--active {
      background: #01384D;
    }



    &--items~&--items {
      margin-left: 15px;
    }
  }




  @include maxmedia(1280px) {
    &__items {
      width: 370px;
    }

    &__image {
      width: 370px;
    }
  }

  @include maxmedia(1180px) {
    margin-top: 90px;

    &__list {
      margin-top: 80px;
    }

    &__items {
      width: 330px;
    }

    &__image {
      width: 330px;
      height: auto;
    }

    &__ply {
      transform: translate(-40%, -80%);
    }

  }

  @include maxmedia(1080px) {
    &__header {
      font-size: 40px;
      line-height: 45px;
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__desc {
      font-size: 16px;
      line-height: 24px;
    }


    &__ply {
      transform: translate(-40%, -50%);
    }

    &__items~&__items {
      margin-left: 20px;
    }

    &__items {
      display: none;

      &--active {
        display: block;
      }
    }

    &__items {
      width: 407px;
    }

    &__image {
      width: 500px;
    }

    &__ply {
      transform: translate(-100%, -50%);
    }

    &__items~&__items {
      margin-left: 0;
    }

    &__next {
      display: flex;
    }
  }

  @include maxmedia(1024px) {

    &__items {
      width: 330px;
    }

    &__image {
      width: 330px;
      height: auto;
    }
  }

  @include maxmedia(768px) {

    &__header {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      color: #01384D;
    }

    &__title {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 26px;
      text-align: center;
      color: #01384D;
    }

    &__desc {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #01384D;
    }

    &__ply {
      transform: translate(-40%, -50%);
    }

  }

  @include maxmedia(350px){
    &__items {
      width: 300px;
    }

    &__image {
      width: 300px;
    }
  }
}