@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin maxmedia($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin minmedia($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

.footer {
  &__container {
    margin-top: 57px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    @include list-unstyled;
  }


  &__link {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A142F;
    text-decoration: none;
  }

  &__item~&__item {
    margin-left: 80px;
  }

  &__social {
    display: flex;
    align-items: center;
    @include list-unstyled;

    &--item~&--item {
      margin-left: 40px;
    }
  }


  @include maxmedia(980px) {
    &__item~&__item {
      margin-left: 40px;
    }
  }

  @include maxmedia(768px) {
    &__item~&__item {
      margin-left: 23px;
    }
  }

  @include maxmedia(630px) {
    &__container {
      flex-direction: column;
      justify-content: flex-start;
    }

    &__list {
      justify-content: flex-start;
    }

    &__item~&__item {
      margin-left: 40px;
    }

    &__social {
      justify-content: flex-start;
    }

  }

  @include maxmedia(425px) {
    &__link {
      font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #01384D;
    }

    &__item~&__item {
      margin-left: 23px;
    }

    &__container {
      margin-top: 30px;
      padding-bottom: 30px;
    }
  }

  @include maxmedia(340px) {

    &__item~&__item {
      margin-left: 17px;
    }
  }



}