.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background: #EABF9F;
  padding-top: 19px;
  
  &__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}